@font-face
{
font-family: wholeMessy;
src: url('../fonts/wholemessy-webfont.eot'),
     url('../fonts/wholemessy-webfont.svg'),
     url('../fonts/wholemessy-webfont.ttf'),
     url('../fonts/wholemessy-webfont.woff');
}

body {
	background: #eee;
	color: #333;
	font-family: "Lucida Grande", sans-serif;
}

h1 {
	font-size: 30px;
}
.wrap {
	width: 635px;
	margin:0 auto;
}

#timeline {
	padding: 0;
	list-style-type:none;
	background: transparent url('../images/vertical-stripe.png') top center repeat-y;
	border-top: 2px solid #555;
	border-bottom: 2px solid #555;
}

#timeline li {
	/*clearfix*/
	content: "";
 	display: table;
  	clear: both;
  	padding-left: 25%;
}

#timeline img {
	float:left;
}

#timeline h3 {
	border-bottom: 1px solid #555;
	font-family: wholeMessy;
	font-size:24px;
}

.timeline-wrap {
	float:right;
	width: 65%;
}

.timeline-wrap h4 {
	margin-top: 0;
}

#timeline li:nth-child(even) {
	padding-right:25%;
	padding-left: 0;
}

#timeline li:nth-child(even) img {
	float:right;
}

#timeline li:nth-child(even) h3 {
	text-align:right;
	clear: both;
}

#timeline li:nth-child(even) .timeline-wrap {
	float:none;
}